@import 'src/style_partials/constants.scss';
@import 'src/style_partials/mixins.scss';

.FilmContainer {
    .allContainer {
        max-width: 100vw;
        padding: 50px;
        @include container-ext;
        flex-wrap: wrap;
        background-color: $dark;
    }
}