.Card {
    border-radius: '0.2rem';
    display: inline-block;
    position: relative;
}

.Card .delete-movie {
    position: absolute;
        right: 0.4rem;
        top: 0.2rem;
}

.Card .delete-movie:hover {
    cursor: pointer;
}

.Card .movie-genre {
    border-radius: '0.5rem';
}