@import 'src/style_partials/constants.scss';
@import 'src/style_partials/mixins.scss';

.Navbar {
    @include container-ext;
    background-color: $dark;
    
    > p {
        color: $light;
        padding: 0px;
        margin: 0px;
    }
}
