body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background-color: #e9ecef;
}

.Main {
  background-color: #fff;
  height: 100%;
}

.card {
  min-width: 250px;
  max-width: 300px;
}

.delete-film {
  position: relative;
  left: 90%;
  top: 4%;
  cursor: pointer;
  z-index: 999;
}

.delete-film:hover {
  text-decoration: underline overline;
}